<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tinyweather</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.3/htmx.min.js"></script>
    <link rel="stylesheet" href="css">
</head>
<body>
    <div class="sidebar">
            <a class="nav-item"
          hx-get="/"
        hx-target="#main-text">
       Home
      </a>

        <a class="nav-item" 
           hx-get="/why" 
           hx-target="#main-text">
            Features
        </a>

    </div>

    <div class="main-content">
        <div id="main-text"
          hx-get="/about"    
      >
              
        </div>
    </div>
</body>
</html>
